---
title: "Third-party payment specification for Mobility as a Service"
---
<header markdown="1">
# <%= @item[:title] %>

{:#authors}
- <%= person 'Brecht Van de Vyvere', 'https://brechtvdv.github.io/', 'https://w3id.org/people/brechtvdv/#me' %>[<sup>1</sup>](#idlab)
- <%= person 'Tim Asperges', '', '' %>[<sup>2</sup>](#antwerp)
- <%= person 'Pieter Colpaert', 'https://pietercolpaert.be', 'https://pietercolpaert.be/#me' %>[<sup>1</sup>](#idlab)
- <%= person 'Ruben Verborgh', 'https://ruben.verborgh.org/', 'https://ruben.verborgh.org/profile/#me' %>[<sup>1</sup>](#idlab)

{:#affiliations}
- {:#idlab} <sup>1</sup>IDLab,
            Department of Electronics and Information Systems,
            Ghent University – imec
- {:#leuven}   <sup>2</sup>City of Leuven

<section class="context" markdown="block">
## In reply to
- [Third International Workshop on Semantics and The Web For Transport (Sem4Tra)](https://sem4tra2021.linkeddata.es//){:rel="as:inReplyTo"}
</section>

</header>

<!-- Hack to make our custom fonts load in print-mode -->
<!-- https://stackoverflow.com/questions/39364259/chrome-print-preview-doesnt-load-media-only-print-font-face -->
<span class='printfont1'> </span>
<span class='printfont2'> </span>
<span class='printfont3'> </span>
<span class='printfont4'> </span>

<div class="double-column">

 <%= section 'abstract' %>

<!-- https://www.rubensworks.net/raw/publications/2016/Continuous_Client-Side_Query_Evaluation_over_Dynamic_Linked_Data.pdf -->

<main>
  <!-- Add sections by specifying their file name, excluding the '.md' suffix. -->
  <%= section 'introduction'  %>
  <%= section 'tpp'  %>
  <%= section 'conclusion'  %>
</main>

<footer>
</footer>

</div>